.thumb{
  height: 75px;
  width: 75px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;

  margin: 0 auto;
  padding: 0 auto;
  display: inline-block;
}
.smallTextapproved{
  color: green;
  font-size: .75em;
}
.smallTextNotapproved{
  color: red;
  font-size: .75em;
}
.infoTxt{
  font-size: .75em;
  margin: 5px;
  width: 75%;
  margin: 0 auto;
  padding: 0 auto;

}
