.center-login{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
input.login{
  width: calc(250px - 20px);
  border: 0;
  padding: 10px;
  border-bottom: 1px solid black;
  background: none;
}

textarea:focus, input:focus{
    outline: none;
}

button.login{
  width: 250px;
  border: 0;
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
  background-color: #d3d3d3;
}
button.login:hover{
  background-color: #ffffff;
}

.center-about{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: gray;
  color: white;
}
